# Ignore Python virtual environments
.venv/
venv/
ENV/
env/

# Ignore environment variable files
.env
.env.*
*.env
.envrc

.idea/
temp_images

# Python compiled files and cache
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.coverage
dist/
build/
*.egg-info/

docs/
outputs/